<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication3.Properties.Settings.TestConnectionString"
            connectionString="Data Source=LAPTOP-6QVJ4QJ9\SQLEXPRESS01;Initial Catalog=Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication3.Properties.Settings.ClientTestConnectionString"
            connectionString="Data Source=|DataDirectory|\Test.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>